In [6]:
! pip install pymongo #install mongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/31/04/63a4374e58496fe5e9312271128616725f53c0281cb79f70d7d06c3e6fdd/pymongo-3.11.0-cp37-cp37m-win_amd64.whl (381kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.0

In [64]:
import pymongo # importing the Library

In [65]:
dbConn=pymongo.MongoClient("mongodb://localhost:27017/") # connecting to the locally running MongoDB Instance

In [66]:
dbname='demoDB'
db=dbConn[dbname]

In [67]:
dbConn.list_database_names()#to see list of db available

['admin', 'config', 'local']

In [52]:
# check if the databse exists in mongoDB
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

ValueError: 'demoDB' is not in list

In [68]:
# connecting to a collection--- collections are analogous to tables
collection_name='mongo_demo'
collection=db[collection_name]  # connectig to the collection itself present in the database.

In [70]:
db.list_collection_names()

[]

In [71]:
# cheking if a collection exists
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection doesn't exist.

In [72]:
# inserting row into the collection
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'} # creating key value pairs for inserting into the DB

In [73]:
x = collection.insert_one(my_row)  # inserting record into the collection

In [74]:
print(x.inserted_id) # printing the unique id for insert

5f2ab33b74314397eddf282d

In [75]:
# inserting multiple rows once
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [76]:
x=collection.insert_many(my_rows)

In [78]:
print(x.inserted_ids)

[ObjectId('5f2ab38c74314397eddf282e'), ObjectId('5f2ab38c74314397eddf282f'), ObjectId('5f2ab38c74314397eddf2830'), ObjectId('5f2ab38c74314397eddf2831'), ObjectId('5f2ab38c74314397eddf2832')]

In [79]:
# retieving all the records from collection
#result= collection.find({}) 
#result[3] #printing the third record
result=collection.find({})

In [83]:
result[4]

{'_id': ObjectId('5f2ab38c74314397eddf2831'),
 'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [85]:
result=collection.find({}).limit(5)#limit helps you to load that many rows only instead of all rows

In [87]:
for i in result:
    print(i)

{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2831'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [88]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}).limit(5) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
#for res in result_some:
    #print(res)
result_some=collection.find({},{'GRE Score','TOEFL Score'}).limit(5)
for res in result_some:
    print(res)

{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5f2ab38c74314397eddf2831'), 'GRE Score': '334', 'TOEFL Score': '119'}

In [90]:
# finding the rows satisfying a given criteria
#my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
#result_GRE= collection.find(my_db_query)
#for res in result_GRE:
    #print(res)
my_db_query={'GRE Score':'337'}
result_GRE=collection.find(my_db_query)
for i in result_GRE:
    print(i)

{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2832'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [100]:
my_db_query={'GRE Score':{'$gte':'336'}}
result_GRE=collection.find(my_db_query)
for i in result_GRE:
    print(i)

{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2832'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [101]:
# we can sort the above results as well, this has been sorted in ascending order

result_GRE= collection.find(my_db_query).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2832'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [102]:
# we can sort the above results in descending order

result_GRE= collection.find(my_db_query).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5f2ab33b74314397eddf282d'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2832'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}

In [103]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

In [105]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('5f2ab38c74314397eddf282e'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2830'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2831'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2832'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [106]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_many(my_db_query) # the deletion step
print(x.deleted_count)

3

In [107]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2831'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [114]:
# For dropping an entire collection
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
#collectiontest=collection_to_drop['collectiontest']
#db.list_collection_names()
collection_to_drop.drop()

In [115]:
db.list_collection_names()

['mongo_demo']

In [116]:
# updating the values present in collection

update_criteria={'GRE Score':'334'}
#new_values= { "$set": { "GRE Score": "350" } }
new_values={"$set":{"GRE Score":"350"}}
x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

1

In [117]:
for i in collection.find({}):
    print(i)

{'_id': ObjectId('5f2ab38c74314397eddf282f'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5f2ab38c74314397eddf2831'), 'Serial No': '9994', 'GRE Score': '350', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}